### Get Sample of Parked Domains

In [22]:
import requests
import pandas

parked_domains = []
for page_num in range(1,7,1):

    url = "https://sedo.com/service/common.php"

    payload = f"safe_search=2&synonyms=true&listing_type%5B%5D=1&listing_type%5B%5D=2&listing_type%5B%5D=3&listing_type%5B%5D=4&auction_group%5B%5D=62&auction_event%5B%5D=559&price_start=0&price_end=0&price_currency=3&traffic_start=0&traffic_end=0&number_of_words_min=1&number_of_words_max=0&len_min=1&len_max=10000&special_characters%5B%5D=3&special_characters%5B%5D=1&special_characters%5B%5D=2&cat%5B%5D=0&cat%5B%5D=0&cat%5B%5D=0&type=0&special_inventory=4&kws=contains&age_min=0&age_max=0&keyword=news&page={page_num}&rel=6&orderdirection=2&domainIds=&cc=&member=&v=0.1&o=json&m=search&f=requestSearch&pagesize=500&keywords_join=AND&loadListingFeatured=true&language=us"
    headers = {
        "cookie": "campaignId=; session=be468b6f18279b666e1c6d0d140bc2c5",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:104.0) Gecko/20100101 Firefox/104.0",
        "Accept": "application/json, text/javascript, */*; q=0.01",
        "Accept-Language": "en-US,en;q=0.5",
        "Accept-Encoding": "identity",#gzip, deflate, br",
        "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
        "X-Requested-With": "XMLHttpRequest",
        "Origin": "https://sedo.com",
        "Connection": "keep-alive",
        "Referer": "https://sedo.com/search/?language=us&keyword=news",
        "Cookie": "campaignId=324561; session=8547f0281d8bdffbfd0c8b8e11fb2815; __cf_bm=6oil77NjEAKKkAFmMoEjbNUa5c5Mi4KOp5EfEMROkwo-1664203289-0-AeQUiyFUQA4tzopCTYC767BHRm6GoExsxi9Puq+ZoKq8qYeQGWhMHfrsoGJi+2+ZUKJmq3u5RoRBOuBzW1BgtR913I6d24rTk7/tCxbZYF08tsf0ej/xHITBPizJkNuegw==; sedoCookieConsent=true; gtmCookie=true; gaCookie=true; ionosCookie=true; locale=en",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin",
        "Sec-GPC": "1",
        "TE": "trailers"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    # response.encoding = 'ISO-8859-1'#response.apparent_encoding
    # print(response.text)
    # print(a)#.decode('utf8'))
    res_dict = response.json()['b']['general']['searchRequest']['resultList']
    for res in res_dict:
        parked_domains.append(res['0'])

df = pandas.DataFrame(data={"url": parked_domains})
df.to_csv("./url_list/parked_domains.csv", sep=',',index=False)
common_crawl = pandas.read_csv('../flat_models/common_crawl_sample.csv')
common_crawl['url'].to_csv('common_crawl_urls.csv', index=False)

Before training below, generate features for all URL lists in url_list subdirectory using the parked domain classifier from [Vissers et. al., 2015](https://github.com/flaiming/Domain-Parking-Sensors)

In [13]:
common_crawl_results = pandas.read_csv('./url_list/common_crawl_features.csv')
parked_results = pandas.read_csv('./url_list/parked_features.csv')

In [18]:
parked_results.groupby(['is_parked']).describe()

          Unnamed: 0                                                      \
               count        mean         std  min     25%    50%     75%
is_parked
notparked      538.0  364.763941  206.788150  0.0  189.25  360.5  542.75
parked         190.0  359.921053  220.463315  3.0  155.75  372.5  547.25


             max
is_parked
notparked  727.0
parked     720.0

In [19]:
common_crawl_results.groupby(['is_parked']).describe()

          Unnamed: 0                                                   \
               count         mean         std    min      25%     50%
is_parked
notparked     2272.0  1141.035651  660.403052    0.0   568.75  1140.5
parked          13.0  1310.538462  530.760714  272.0  1064.00  1250.0


               75%     max
is_parked
notparked  1713.25  2284.0
parked     1556.00  2141.0

In [17]:
regex_df = pandas.read_csv('./url_list/news_features.csv')
regex_df.groupby(['is_parked']).describe()

            url                              source
          count unique              top freq  count unique        top  freq
is_parked
notparked  3920   3920         kmbc.com    1   3920      6       MBFC  3059
parked       57     57  isthatlegit.com    1     57      6  Blacklist    35